@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}

/* global.css or add in your main CSS file */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  /* font-family: ; */
}

::-webkit-scrollbar-track {
  @apply bg-gray-200; /* Track (background of the scrollbar) */
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-lg; /* Scrollbar color and rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-sky-700 cursor-grabbing ; /* Darker color on hover */
}